<header>
    <nav class="nav">
      <h1 class="big-head">{ Stephen: Knutter }</h1>
    </nav>
    <hr />
    <div class="row head-menu">
      <a href="#" class="{{homeClass}}">Home</a>
      <a href="#" class="{{archiveClass}}">Archive</a>
    </div>
</header>
