<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header>
          <nav class="nav">
            <h1 class="big-head">{ Stephen: Knutter }</h1>
          </nav>
          <hr />
          <div class="row head-menu">
            <a href="#" class="active">Home</a>
            <a href="#">Archive</a>
          </div>
      </header>
      <div class="container-fluid content-wrapper">

        <div class="col-md-8">
          <h3 class="blog-head">How to install Laravel Homestead | The Easy Way</h3>
          <div class="">
            <span class="article-tags">by <span class="underline">Stephen</span> on 2016/09/12 in <span class="tag">Larvel</span> <span class="tag">PHP</span> <span class="tag">Homestead</span> </span>
            <p class="article-descrip">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>

        <div class="col-md-3 col-md-offset-1">
          <h3 class="side-head">About</h3>
          <p class="side-descrip">I am a JavaScript Engineer from Denver, CO</p>
        </div>

      </div>
      <!-- <h1><%= title %></h1>
      <p>Welcome to <%= title %></p> -->
    </div>
  </body>
</html>
