<div class="container">
  {{> header}}

  <div class="container-fluid login-wrap">
    <h3 class="side-head">LOGIN</h3>

    <div class="form-wrap">
      <form id="loginForm">
        <div class="form-group">
          <input type="text" class="form-control login-control" name="email" placeholder="Enter email" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control login-control" name="password" placeholder="Enter password" />
        </div>
      </form>
    </div>

  </div>
</div>
